<div class="row">
    <div class="col-3">
        <p>宿名</p>
    </div>
    <div class="col-9">
        <p>{{ item.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>平均料金</p>
    </div>
    <div class="col-9">
        <p>{{ item.get_fee_choices_display }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>イメージ</p>
    </div>
    <div class="col-9">
        <img src="{{ item.image }}"/>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>詳細</p>
    </div>
    <div class="col-9">
        <p>{{ item.detail|linebreaksbr }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>登録日</p>
    </div>
    <div class="col-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
